__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Models
*.h5
*.keras

# Data
*.mat
*.csv
data/
results_and_reports/
*.log

# OS
.DS_Store
Thumbs.db

# Visualizations and datasets
*.png
*.txt

